#support
    .bgc
        background-color: #35b6c1
        display: flex
        align-items: center
    .start
        display: flex
        align-items: center

    .textbox
        h1
            font-size: 60px
            font-weight: 700
            color: #ffffff
            line-height: 1.1
            margin: 0 70px 0 40px
            span
                color: #24667283
        .btn
            padding: 10px 30px
            font-size: 22px
            background-color: #ffffff
            color: #33B5BE
            margin: 30px 0 0 40px

    @media screen and ( max-width: 992px )
        .bgc
            margin-top: 20px
            .textbox
                padding: 50px 0 50px 0
    @media screen and ( max-width: 500px  )
        .imbox
            max-width: 450px
        .bgc
            display: flex
            flex-direction: column
            align-items: flex-start
            .textbox
                h1
                    margin: 0
                .btn
                    margin:  30px 0 0
            
